<!-- HEADER -->
<header class="header">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="top-header__contacts"><i class="icon stroke icon-Phone2"></i>(123) 0800 12345</div>
          <div class="top-header__contacts"><i class="icon stroke icon-Mail"></i><a href="mailto:Info@academica.com">Info@academica.com</a></div>
          <div class="header-login"> <a class="header-login__item" href="<%= new_user_session_path %>"><i class="icon stroke icon-User"></i>Đăng Nhập</a> <a class="header-login__item" href="<%= new_user_registration_path %>">Đăng Ký</a> </div>
        </div>
        <!-- end col  -->
      </div>
      <!-- end row  -->
    </div>
    <!-- end container  -->
  </div>
  <!-- end top-header  -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12"> <a class="header-logo" href="<%= root_path %>"><img class="header-logo__img" src="assets/img/logo.png" height="50" width="195" alt="Logo"></a>
        <div class="header-inner">
          <div class="header-search">
            <div class="navbar-search">
              <form id="search-global-form">
                <div class="input-group">
                  <input type="text" placeholder="Nhập vào để tìm kiếm khoá học..." class="form-control" autocomplete="off" name="s" id="search" value="">
                  <span class="input-group-btn">
                  <button type="reset" class="btn search-close" id="search-close"><i class="fa fa-times"></i></button>
                  </span> </div>
              </form>
            </div>
          </div>
          <a id="search-open" href="home-2.html#fakelink"><i class="icon stroke icon-Search"></i></a>
          <nav class="navbar yamm">
            <div class="navbar-header hidden-md  hidden-lg  hidden-sm ">
              <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown"><a href="<%= root_path %>">TRANG CHỦ</a>
                </li>
                <li class="dropdown"> <a href="courses-1.html">CÁC KHOÁ HỌC</a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="courses-category.html">courses category</a>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="courses-1.html">courses type 1</a> </li>
                        <li><a href="courses-2.html">courses type 2</a> </li>
                        <li><a href="courses-3.html">courses type 3</a></li>
                      </ul>
                    </li>
                    <li><a href="course-details.html">course details</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="<%= about_path %>">GIỚI THIỆU</a>
                </li>
                <li class="dropdown"> <a href="<%= blog_index_path %>">BLOG</a>
                </li>
                <li><a href="<%= contact_path %>">LIÊN HỆ</a></li>
              </ul>
            </div>
          </nav>
          <!--end navbar -->

        </div>
        <!-- end header-inner -->
      </div>
      <!-- end col  -->
    </div>
    <!-- end row  -->
  </div>
  <!-- end container-->
</header>
<!-- end header -->