<doctype html>
<html>
  <head>
    <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" />
    <meta content=("width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no") name="viewport" />
    <title>Admin Dashboard</title>
    <link href="assets/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/admin/css/datepicker3.css" rel="stylesheet">
    <link href="assets/admin/css/styles.css" rel="stylesheet">
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <script src="assets/admin/js/lumino.glyphs.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'admin/header' %>
    <%= render 'admin/side_bar' %>
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
      <%= yield %>
    </div>  <!--/.main-->

    <script src="assets/admin/js/jquery-1.11.1.min.js"></script>
    <script src="assets/admin/js/bootstrap.min.js"></script>
    <script src="assets/admin/js/chart.min.js"></script>
    <!--<script src="assets/admin/js/chart-data.js"></script>-->
    <script src="assets/admin/js/easypiechart.js"></script>
    <!--<script src="assets/admin/js/easypiechart-data.js"></script>-->
    <script src="assets/admin/js/bootstrap-datepicker.js"></script>
    <script>
      !function ($) {
          $(document).on("click","ul.nav li.parent > a > span.icon", function(){
              $(this).find('em:first').toggleClass("glyphicon-minus");
          });
          $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
      }(window.jQuery);

      $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
      })
      $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
      })
    </script>
    <%= javascript_include_tag 'admin' %>
  </body>
</html>
